body {
  font-family: Verdana, sans-serif;
  color: #a6a6d8;
 }

.container {
  width: 1040px;
  margin: 0 auto;
  
}

h2 {
  color: #545454;
}


.profile {
  width: 950px;
  margin: 0 auto;
}

.profile-form {

  padding: 15px;
  display: grid;
  column-gap: 15px;
  grid-template-columns: repeat(5, 1fr) ;
  grid-template-rows: repeat(6, 1fr);
}
.name{
grid-column: 2 / 7;
}
.photo{
  grid-row: 1 / 6;

}
.surname{
grid-column: 2 / 4;
}
.place{
grid-column: 4 / 6;
}
.about{
grid-column: 2 / 6;
}
.food{
grid-column: 2 / 6;
}
.checkbox-1{
grid-column: 2 / 3;
}
.checkbox-2{
grid-column: 3 / 4;
}
.checkbox-3{
grid-column: 4 / 5;
}
.checkbox-4{
grid-column: 5 / 6;
}
.submit{
grid-column: 2 / 3;
}